<!DOCTYPE html>
<html>
<head>
    <title>All Blog Posts</title>
</head>
<body>
    <h1>All Blog Posts</h1>

    <a href="{% url 'dashboard' %}"><button>Back To Profile</button></a>
    
    {% for post in posts %}
        <div style="border: 1px solid #ccc; padding: 10px; margin: 10px;">
            <h2>{{ post.title }}</h2>
            <img src="{{ post.image.url }}" alt="Blog Image" width="200">
            <p>{{ post.summary|truncatechars:150 }}</p>
            <p><strong>Category:</strong> {{ post.category }}</p>
            <p><strong>Author:</strong> {{ post.author.username }}</p>
        </div>
    {% empty %}
        <p>No blog posts found.</p>
    {% endfor %}
</body>
</html>
